*{
    margin: 0;
    padding: 0;
    display: flex;
   
}
.box{
    display: flex;
    flex-direction: row;
}
.box .box-1{
    height: 50px;
    width: 50px;
    background: grey;
    border:none;
    padding: 4px 6px;
    /* margin: 2px 4px; */
}
.box .box-2{
    height: 50;
    width: 50px;
    background: red;
    border:none;
    padding: 2px 4px;
    margin:2px 4px;

}
.box .box-3{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: red;
    border:none;
    padding: 2px 4px;
    margin:2px 4px;

}