body{
    font-family: Arial, Helvetica, sans-serif;
}
.heading1{
background-color: cyan;
}
.main{
    color: red;
}
text-green{
    background-color: yellowgreen;
}

.text-red{
    background: #ff2222;
}