/*  
body{
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    background-color: cyan;
    color: #ff1212;
}

#sub{
    color: rgb(120,100,60);
}

p{
    color:green;
 } */
 *{ 
    color:bluev;
 }
/* it is universal selector */
body{
    font-family: Arial, Helvetica, sans-serif;
}

 header{
    background:#f0ebeb;
 }

 section.my-articles{
    background-color: #f2e9e9;
 }
 header p{
    color: red;
 }
 /* header p -> All the p tag inside header becomes red */

 li a{
    color: green;
 }
/* all the content of h2 tag inside section tag becomes green  */
 /* section.my-articles h2{ 
    color: green; }
     */

 section.my-articles > h2{
    color: green;
 }
 /* all the p tag comes after h2 becomes h2+p */

 h2+p{
    color:#000000;
 }

 ul+p{
    color:fuchsia;
 }