body{
    font-family: Arial, Helvetica, sans-serif;
}
/* inline style atrributes > id selector > class selector > elements selector*/
.main{
    color: magenta;
}
.sub{
    color: orange;
}
.para-graph{
    color: green;
}
/*
h1.main{
    color:green;
}
.sub{
    color:cyan;
}
h1#sector{
    background-color: yellowgreen;
}
*/
